### Extra Consistency and Cleaning Checks For Datasets

In [2]:
# Import Required Libraries

import pandas as pd
import numpy as np
import matplotlib
import os
from matplotlib import pyplot as plt
from datetime import datetime as dt

In [3]:
# Assigning Path

path = r'/Users/elia/Desktop/New_York_City_Bike'

In [4]:
# Import Merged CitiBike DataSet as a DataFrame

df = pd.read_csv(os.path.join(path, 'CB_Data', 'Prepared Data', 'ny_citybike.csv'))

/var/folders/kg/d6djty_168l6kzcc718bcldm0000gn/T/ipykernel_12077/1840826033.py:3: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, 'CB_Data', 'Prepared Data', 'ny_citybike.csv'))

In [5]:
# Identify columns in df dataframe that contain mixed data types

for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

start_station_name
start_station_id
end_station_name
end_station_id

In [6]:
# Display the data type of each column in the dataframe

df.dtypes

Unnamed: 0              int64
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
tripduration          float64
date                   object
avgTemp               float64
_merge                 object
dtype: object

In [7]:
# Count missing values in each column of the dataframe

df.isnull().sum()

Unnamed: 0                0
ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       49
start_station_id         49
end_station_name      69884
end_station_id        69884
start_lat                 0
start_lng                 0
end_lat               37223
end_lng               37223
member_casual             0
tripduration              0
date                      0
avgTemp                   0
_merge                    0
dtype: int64

In [9]:
# Inspect data types inside the 'start_station_name' column
col = 'start_station_name'

# Count how many values are of each Python type
type_counts = df[col].map(lambda x: type(x).__name__).value_counts(dropna=False)

# Total number of records in the column
total_count = len(df[col])

# Print column name, data type counts, and total number of records
print(f"Column: {col}")
print("\nCounts by Python type:")
print(type_counts)
print("\nTotal records:", total_count)

Column: start_station_name

Counts by Python type:
start_station_name
str      29838117
float          49
Name: count, dtype: int64

Total records: 29838166

In [10]:
# Specify which column to analyze for data type issues
col = "start_station_name"

# Identify all unique Python types inside the column
unique_types = df[col].map(type).unique()

# Loop through each detected data type, show sample rows, and count occurrences
for t in unique_types:
    print(f"\n=== Data type: {t.__name__} ===")
    subset = df[df[col].map(type) == t]
    display(subset.head(3))
    print(f"Total rows of this type: {len(subset)}")

=== Data type: str ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,tripduration,date,avgTemp,_merge
0,0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,6.148717,2022-08-27,27.8,both
1,1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,8.897917,2022-08-20,27.9,both
2,2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,8.571550,2022-08-31,25.6,both

Total rows of this type: 29838117

=== Data type: float ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,tripduration,date,avgTemp,_merge
6009369,6009369,F50458C1AC48A8AC,electric_bike,2022-10-28 17:15:02.101,2022-10-28 17:15:14.718,NaN,NaN,NaN,NaN,40.68,-73.97,40.68,-73.97,casual,0.210283,2022-10-28,11.3,both
6009370,6009370,5E2A328AD66FB070,electric_bike,2022-10-28 17:10:51.306,2022-10-28 17:11:17.797,NaN,NaN,NaN,NaN,40.68,-73.97,40.68,-73.97,casual,0.441517,2022-10-28,11.3,both
6286211,6286211,37CAFEC584E753B3,electric_bike,2022-10-19 13:43:49.103,2022-10-19 13:44:03.651,NaN,NaN,NaN,NaN,40.68,-73.97,40.68,-73.97,casual,0.242467,2022-10-19,10.0,both

Total rows of this type: 49

In [18]:
# Convert the mix column to string type to fix mixed data types

df_test['mix'] = df_test['mix'].astype('str')

In [24]:
df.shape

(29838166, 18)