### Importing Libraries and Datasets

In [10]:
# Import Libraries

import pandas as pd 
import numpy as np
import os 
import requests
import json
from datetime import datetime

In [11]:
# Assigning Path

path = r'/Users/elia/Desktop/New_York_City_Bike/CB_Data/Prepared Data'

In [12]:
# Import CitiBike Test DataSet

df = pd.read_csv(os.path.join(path, 'citybike_test.csv'))

/var/folders/kg/d6djty_168l6kzcc718bcldm0000gn/T/ipykernel_18899/2261388876.py:3: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, 'citybike_test.csv'))

### Cleaning & Consistency Checks

In [13]:
# Identify columns in df dataframe that contain mixed data types

for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

start_station_name
start_station_id
end_station_name
end_station_id

In [14]:
# Display the data type of each column in the dataframe

df.dtypes

Unnamed: 0              int64
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [15]:
# Count missing values in each column of the dataframe

df.isnull().sum()

Unnamed: 0                0
ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       49
start_station_id         49
end_station_name      70092
end_station_id        70092
start_lat                 0
start_lng                 0
end_lat               37392
end_lng               37392
member_casual             0
dtype: int64

### Check "start_station_name" Column

In [16]:
# Inspect data types inside the 'start_station_name' column
col = 'start_station_name'

# Count how many values are of each Python type
type_counts = df[col].map(lambda x: type(x).__name__).value_counts(dropna=False)

# Total number of records in the column
total_count = len(df[col])

# Print column name, data type counts, and total number of records
print(f"Column: {col}")
print("\nCounts by Python type:")
print(type_counts)
print("\nTotal records:", total_count)

Column: start_station_name

Counts by Python type:
start_station_name
str      29838757
float          49
Name: count, dtype: int64

Total records: 29838806

In [17]:
# Specify which column to analyze for data type issues
col = "start_station_name"

# Identify all unique Python types inside the column
unique_types = df[col].map(type).unique()

# Loop through each detected data type, show sample rows, and count occurrences
for t in unique_types:
    print(f"\n=== Data type: {t.__name__} ===")
    subset = df[df[col].map(type) == t]
    display(subset.head(3))
    print(f"Total rows of this type: {len(subset)}")

=== Data type: str ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual
1,1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual
2,2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member

Total rows of this type: 29838757

=== Data type: float ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
6009370,6009370,F50458C1AC48A8AC,electric_bike,2022-10-28 17:15:02.101,2022-10-28 17:15:14.718,NaN,NaN,NaN,NaN,40.68,-73.97,40.68,-73.97,casual
6009371,6009371,5E2A328AD66FB070,electric_bike,2022-10-28 17:10:51.306,2022-10-28 17:11:17.797,NaN,NaN,NaN,NaN,40.68,-73.97,40.68,-73.97,casual
6286212,6286212,37CAFEC584E753B3,electric_bike,2022-10-19 13:43:49.103,2022-10-19 13:44:03.651,NaN,NaN,NaN,NaN,40.68,-73.97,40.68,-73.97,casual

Total rows of this type: 49

#### -----------

### Check "start_station_id" Column

In [18]:
# Inspect data types inside the 'start_station_name' column
col = 'start_station_id'

# Count how many values are of each Python type
type_counts = df[col].map(lambda x: type(x).__name__).value_counts(dropna=False)

# Total number of records in the column
total_count = len(df[col])

# Print column name, data type counts, and total number of records
print(f"Column: {col}")
print("\nCounts by Python type:")
print(type_counts)
print("\nTotal records:", total_count)

Column: start_station_id

Counts by Python type:
start_station_id
float    18173405
str      11665401
Name: count, dtype: int64

Total records: 29838806

In [19]:
# Specify which column to analyze for data type issues
col = "start_station_id"

# Identify all unique Python types inside the column
unique_types = df[col].map(type).unique()

# Loop through each detected data type, show sample rows, and count occurrences
for t in unique_types:
    print(f"\n=== Data type: {t.__name__} ===")
    subset = df[df[col].map(type) == t]
    display(subset.head(3))
    print(f"Total rows of this type: {len(subset)}")

=== Data type: float ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual
1,1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual
2,2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member

Total rows of this type: 18173405

=== Data type: str ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
131072,131072,BC2122B2A2B67C2B,classic_bike,2022-08-12 10:08:03.075,2022-08-12 10:12:02.427,W 160 St & St. Nicholas Ave,8138.07,Broadway & W 168 St,8226.06,40.834468,-73.939865,40.840896,-73.939721,member
131073,131073,04E07CB2DC006980,electric_bike,2022-08-15 11:37:45.322,2022-08-15 11:48:01.902,Westchester Ave & Jackson Ave,7853.01,3 Ave & E 163 St,7974.01,40.816124,-73.908116,40.823872,-73.908699,member
131074,131074,DA265C3E8A2F0E17,classic_bike,2022-08-07 10:41:44.301,2022-08-07 10:49:54.436,Humboldt St & Varet St,4956.02,Powers St & Olive St,5210.01,40.703172,-73.940636,40.713230,-73.938940,member

Total rows of this type: 11665401

#### -----------

### Check "end_station_name" Column

In [20]:
# Inspect data types inside the 'end_station_name' column
col = 'end_station_name'

# Count how many values are of each Python type
type_counts = df[col].map(lambda x: type(x).__name__).value_counts(dropna=False)

# Total number of records in the column
total_count = len(df[col])

# Print column name, data type counts, and total number of records
print(f"Column: {col}")
print("\nCounts by Python type:")
print(type_counts)
print("\nTotal records:", total_count)

Column: end_station_name

Counts by Python type:
end_station_name
str      29768714
float       70092
Name: count, dtype: int64

Total records: 29838806

In [21]:
# Specify which column to analyze for data type issues
col = "end_station_name"

# Identify all unique Python types inside the column
unique_types = df[col].map(type).unique()

# Loop through each detected data type, show sample rows, and count occurrences
for t in unique_types:
    print(f"\n=== Data type: {t.__name__} ===")
    subset = df[df[col].map(type) == t]
    display(subset.head(3))
    print(f"Total rows of this type: {len(subset)}")

=== Data type: str ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual
1,1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual
2,2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member

Total rows of this type: 29768714

=== Data type: float ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
146614,146614,31D7C069B0B0DD22,electric_bike,2022-08-13 18:58:16.149,2022-08-14 19:58:10.943,Broadway & W 29 St,6289.06,NaN,NaN,40.746201,-73.988557,NaN,NaN,member
146617,146617,175B24B5FFF8E6DE,electric_bike,2022-08-14 23:19:40.023,2022-08-15 00:32:51.346,6 Ave & Canal St,5500.07,NaN,NaN,40.722478,-74.005658,40.75,-73.99,member
146622,146622,5ACDDCCD761FC353,classic_bike,2022-08-12 22:04:13.072,2022-08-13 23:04:07.171,Union St & Nevins St,4143.03,NaN,NaN,40.679098,-73.987655,40.69,-74.00,casual

Total rows of this type: 70092

#### -----------

### Check "end_station_id" Column

In [22]:
# Inspect data types inside the 'end_station_id' column
col = 'end_station_id'

# Count how many values are of each Python type
type_counts = df[col].map(lambda x: type(x).__name__).value_counts(dropna=False)

# Total number of records in the column
total_count = len(df[col])

# Print column name, data type counts, and total number of records
print(f"Column: {col}")
print("\nCounts by Python type:")
print(type_counts)
print("\nTotal records:", total_count)

Column: end_station_id

Counts by Python type:
end_station_id
str      21056697
float     8782109
Name: count, dtype: int64

Total records: 29838806

In [23]:
# Specify which column to analyze for data type issues
col = "end_station_id"

# Identify all unique Python types inside the column
unique_types = df[col].map(type).unique()

# Loop through each detected data type, show sample rows, and count occurrences
for t in unique_types:
    print(f"\n=== Data type: {t.__name__} ===")
    subset = df[df[col].map(type) == t]
    display(subset.head(3))
    print(f"Total rows of this type: {len(subset)}")

=== Data type: str ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual
1,1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual
2,2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member

Total rows of this type: 21056697

=== Data type: float ===

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
131072,131072,BC2122B2A2B67C2B,classic_bike,2022-08-12 10:08:03.075,2022-08-12 10:12:02.427,W 160 St & St. Nicholas Ave,8138.07,Broadway & W 168 St,8226.06,40.834468,-73.939865,40.840896,-73.939721,member
131073,131073,04E07CB2DC006980,electric_bike,2022-08-15 11:37:45.322,2022-08-15 11:48:01.902,Westchester Ave & Jackson Ave,7853.01,3 Ave & E 163 St,7974.01,40.816124,-73.908116,40.823872,-73.908699,member
131074,131074,DA265C3E8A2F0E17,classic_bike,2022-08-07 10:41:44.301,2022-08-07 10:49:54.436,Humboldt St & Varet St,4956.02,Powers St & Olive St,5210.01,40.703172,-73.940636,40.713230,-73.938940,member

Total rows of this type: 8782109

In [ ]:
# Assigning Path

path = r'/Users/elia/Desktop/New_York_City_Bike/CB_Data/Prepared Data'

In [14]:
# Export Dataframe to Csv

df.to_csv(os.path.join(path, 'citybike_test.csv'))